.theme-switch {
	display: grid;
	width: 1.875rem;
	height: 1.875rem;
	background-color: var(--secondary-color);
	border: 1px solid var(--border-color);
	border-radius: 50%;
	place-content: center;

	&:hover .icon {
		transform: rotate(-40deg);
	}
}

.theme-switch .icon {
	transform: rotate(0deg);
	transition: transform 0.3s;
}
